@import 'styles/variables';

.button {
    width: 20.43rem;
    height: 3rem;
    border-radius: 38px;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-align: center;
}
