@import 'styles/variables.scss';

.container {
    color: #ffffff;

    &__title {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 15px;
        }
    }

    &__input {
        text-align: center;
        padding: 34px 0;
        input {
            font-size: 22px;
            color: #ffffff;
            border: none;
            text-align: center;
            outline: none;
            background-color: transparent;
            border-bottom: 0.4px solid white;
        }
    }

    &__button {
        text-align: center;
    }
}
