@import 'styles/variables.scss';

.container {
    color: #ffffff;

    &__title {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 15px;
        }
    }

    &__input {
        text-align: center;
        padding: 34px 0;
        input {
            font-size: 22px;
            color: #ffffff;
            border: none;
            text-align: center;
            outline: none;
            background-color: transparent;
            border-bottom: 0.4px solid white;
        }
    }

    &__lista {
        display: flex;
        list-style-type: none;
        align-content: center;
        height: 80px;
        flex-wrap: wrap;
        gap: 12px;
        & .container__logo {
            padding: 14px 6px;
            display: flex;
            background-color: #79767d;
            border-radius: 14px;
            img {
                align-self: center;
            }
        }
        & .container__twoItens {
        }
        & .container__creditCardItem {
            margin-left: auto;
            background-color: #79767d;
            height: 24px;
            min-width: 62px;
            overflow: auto;
            border-radius: 6px;
            text-align: center;
        }
    }

    &__button {
        text-align: center;
    }
}
