@import 'styles/variables.scss';

.container {
    background: $gray-solid;
    color: #ffffff;

    &__header {
        display: flex;
        align-items: center;
        p {
            align-self: center;
            margin: auto;
            font-size: 1.17em;
        }
    }
    &__title {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 15px;
        }
    }
}
