// Cores ativas

$yellow: #f2fe8d;
$mint: #b2d0ce;
$lilac: #aa9eb7;

$gray-solid: #212121;
$gray-light: #79767d;

// Cores lineares

$gray-linear: linear-gradient(to bottom, #252525 0%, #2c2c2c 100%);
$light-blue-linear: linear-gradient(to bottom, #eaeaea 0%, #b2d0ce 100%);
$light-yellow-linear: linear-gradient(to bottom, #fcffdf 0%, #f1fe87 100%);
$light-lilac-linear: linear-gradient(to bottom, #f2eff4 0%, #b8a9c6 100%);
