.container {
    background: #252626;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    top: 132px;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: auto;

    h3 {
        line-height: 32px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    ul li {
        display: flex;
        gap: 12px;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 8px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        > img {
            width: 60px;
        }
    }

    &__contactName {
        margin-top: 16px;
    }
}
